
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Wizardry Article</title>
    <link rel="stylesheet" href="home.css" />
  </head>

  <body>
    <h1><%= @article_contents[0]%></h1>

    <h3>By <%= @article_contents[1]%></h3>

    <p>
      <%= @article_contents[2]%>
    </p>

    <h3><a href="/article-summary"> Article Summaries
    </h3>

  </body>
</html>
