<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Wizardry Article</title>
    <link rel="stylesheet" href="home.css" />
  </head>

  <body>
    <h1><%= @article_title%></h1>

    <h3>By <%= @author%></h3>

    <p>
      <%= @body%>
    </p>

    <h3><a href="/article-summary"> Article Summaries
    </h3>

  </body>
</html>
